@model Udemy_Vidly.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Id == 0)
    {
        <h2>New Movie</h2>
    }
    else
    {
        <h2>Edit Movie</h2>
    }
@*<h2>New Movie</h2>*@

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreTypeId)
        @Html.DropDownListFor(m => m.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Membership Types", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.InStockCount)
        @Html.TextBoxFor(m => m.InStockCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.InStockCount)
    </div>
    @Html.HiddenFor(m => m.Id);
    @Html.AntiForgeryToken()
    <button type="submit" , class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

